.face_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .camera_area {
    width: 640px;
    max-width: 100%;
    height: 480px;
    line-height: 0;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    border: solid 1px gray;
    border-radius: 4px;
    video {
      height: 100%;
      width: 100%;
    }
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
    .camera_loader {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .no_camera {
      height: 100%;
      // height: 480px;
      line-height: 1.5rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #e0e0e0;
      h4 {
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
}

.face_buttons {
  margin-top: 30px;
  div {
    margin: 10px 0;
    padding: 0;
  }
  width: 100%;
  button {
    font-weight: 600;
    min-width: 310px;
    width: 100%;
    height: 45px;
    &:nth-child(odd) {
      margin-right: 16px;
    }
  }
  .reset_option {
    width: 100%;
  }
}

.mobile-view {
  .face_buttons {
    margin-top: 16px;
  }
  .camera_area {
    img {
      object-fit: unset;
    }
    video {
      object-fit: unset;
    }
  }
  button {
    width: 100%;
    min-width: auto;
  }
}

.modal_dialog {
  .MuiTypography-root {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 11px;
    font-weight: 600;
    gap: 11px;
    svg {
      font-size: 22px;
    }
  }
  .modal_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    color: green;
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .close {
    color: red;
  }

  .MuiDialogContent-root {
    .modal_content {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      .verified_face {
        img {
          border: solid 2px green;
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
          // max-width: 300px;
        }
      }
    }
    .kv_row {
      margin-bottom: 10px;
      line-height: 1.2rem;
    }

    .label {
      font-weight: 500;
      font-size: 10px;
      display: block;
      color: #a7a3a3;
    }
    .value {
      font-weight: 600;
      font-size: 16px;
      color: #1676d2;
    }
  }

  .MuiDialogActions-root {
    justify-content: center;
    .modal_actions {
      width: 100%;
    }
  }
}
