.main {
  padding: 32px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 84px);
  height: 100%;
  background: #fff;
  img {
    max-width: 100%;
    user-select: none;
  }
}

// responsive view settings

.mobile-view {
  .main {
    padding: 16px;
  }
  .page_container {
    width: 100%;
    max-width: 598px;
  }
}
