* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

body {
  background: var(--light-gray);
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

:root {
  height: 100%;
}

.bold {
  font-weight: 600;
}
